In [4]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [5]:
passengers = pd.read_csv(r'C:\Users\Asus\Desktop\Machine Learning\passengers.csv')

In [6]:
passengers.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
passengers['Sex'] = passengers['Sex'].map({'male':0,'female':1})

In [52]:
passengers['Age'].fillna(value=np.mean(passengers['Age']), inplace=True)
passengers['Age']

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age, Length: 891, dtype: float64

In [53]:
passengers['FirstClass'] = passengers['Pclass'].apply(lambda x: 1 if x == 1 else 0)
passengers['SecondClass'] = passengers['Pclass'].apply(lambda x: 1 if x == 2 else 0)
# passengers

In [54]:
features = passengers[['Sex', 'Age', 'FirstClass', 'SecondClass']]
survival = passengers['Survived']

In [55]:
X_train, X_test, y_train, y_test = train_test_split(features, survival, test_size = 0.2)

In [56]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [57]:
model = LogisticRegression()

In [58]:
model.fit(X_train, y_train)

LogisticRegression()

In [63]:
print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

0.7752808988764045
0.8156424581005587

In [65]:
list(zip(['Sex', 'Age', 'FirstClass', 'SecondClass'], model.coef_))

[('Sex', array([ 1.16379156, -0.40063724,  0.95085387,  0.42889384]))]

In [68]:
jack = [0, 20, 0, 0]
Ross = [1, 21, 1, 0]
yaman = [0, 20, 1, 0]
sana = [1, 19, 1, 0]
sample_passengers = np.array([jack, Ross, yaman, sana])

In [70]:
sample_passengers = scaler.transform(sample_passengers)
sample_passengers

array([[-2.2767379 , -2.28320316, -1.85086782, -1.77025247],
       [ 2.11238764, -2.27743563,  3.76592903, -1.77025247],
       [-2.2767379 , -2.28320316,  3.76592903, -1.77025247],
       [ 2.11238764, -2.2889707 ,  3.76592903, -1.77025247]])

In [71]:
model.predict(sample_passengers)

array([0, 1, 1, 1], dtype=int64)